<div class="container" ng-controller="AppointmentController">
	<!-- Static navbar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#/dashboard"><i class="fa fa-heartbeat"></i>Appointments</a>
		  </div>
		  <div id="navbar" class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#/dashboard">Home</a></li>
		      <li><a href="#/logout">Logout</a></li>
		    </ul>
		  </div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</nav>
	   <form class="form" name="addNewAppointment" novalidate>
                <h1>Schedule an Appointment for {{loggedUser}}</h1>
                <div class="row">
                	<div class="col-md-3">
                		<p class="text-danger" ng-show="addNewAppointment.date.$error.min">Select a date for today or sometime after.</p>
                	</div>
                	<div class="col-md-3">
                      <p class="text-danger" ng-show="addNewAppointment.time.$error.min">Select time after 8am</p>

		                <p class="text-danger" ng-show="addNewAppointment.time.$error.max">Select time before 5pm</p>
		            </div>
		        </div>
		        <div class="row">
	                <div class="col-md-3">
	                	<h4>Date:</h4>
	                	<input name="date" type="date" class="form-control" ng-model='newAppointment.date' min="{{date | date:'yyyy-MM-dd'}}" required>
	                </div>
	                
	                <div class="col-md-4">
		                 <h4>Time:</h4>
		                <input name="time" type="time" class="form-control" ng-model='newAppointment.time' min="08:00:00" max="17:00:00" required>
	                </div>
                </div>
                <div class="row">
	                <div class="col-md-7">
		                <p class="text-danger" ng-show="addNewAppointment.complaint.$error.minlength">Ailment must be more than 10 characters.</p>
		                <br />
		                <h4>Ailment:</h4>
		                <textarea name="complaint" class="form-control" rows="5" ng-model='newAppointment.complaint' ng-minlength= "10" required></textarea>
	                </div>	
                </div>
                <br/>
                <div class="row">
                	<div class="col-md-7 pull-right">
                		<a href='#/dashboard' class='btn btn-warning btn-xs'>Cancel</a>
	                    <a href='#/dashboard' class='btn btn-primary btn-xs' ng-click='addAppt()' ng-disabled="addNewAppointment.$invalid">Add Appointment</a></div>
	                <div class="col-md-5">
	                </div>
                </div>
        </form>
</div>	
